  <div id="header">

    <!-- Navigation -->
    <div id="nav">
      <ul>
        <li><a href="{% url 'main' %}">Главная</a></li>
         <li><a href="{% url 'stats' %}">Статистика</a></li>
        <li><a href="{% url 'news_list' %}">Новости</a></li>
        <li><a href="{% url 'expensive' %}">Дороже рынка</a></li>
        <li><a href="{% url 'cheaper' %}">Дешевле рынка</a></li>
        <li><a href="{% url 'most_popular' %}">Самые популярные</a></li>
        <li><a href="{% url 'most_expensive' %}">Самые дорогие</a></li>
        <li><a href="{% url 'most_cheap' %}">Самые дешевые</a></li>
      </ul>
    </div>
    <!-- End Navigation -->
  </div>